h1, h2, h3, h4, h5, h6, a, p, span {
	font-family: "Roboto", sans-serif;
}

li {
	line-height: 24px;
}

a, p, span, li {
	font-size: 14px;
	line-height: 26px;
}

ul {
	list-style: none;
}

hr {
	margin: .5rem 0 1rem 0;
}

input {
	box-shadow: none!important;
}

input:focus {
	border-color: #2196f3!important;
}

ul li:before {    
font-family: 'FontAwesome';
content: '\f0da';
margin:0 5px 0 -15px;
}

.close-button span {
	font-size: 34px;
}

.list-icon {
	list-style: none;
	margin-left: 0;
}

.list-icon li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}

.list-icon li .fa {
	position: absolute;
	left: 0;
	line-height: 24px;
	text-align: center;
	width: 24px;
	height: 24px;
	background: #1779ba;
	border-radius: 50%;
	color: white;
}

.pagination li:before {
	display: none;
}

li.pagination-previous:before, li.pagination-next a:after {
	display: none!important;
}

.pagination li a {
	background: rgb(230, 230, 230);
}

.pagination li.pagination-previous.disabled {
	background: rgba(230, 230, 230, 0.55)!important;
}

.list-icon li:before {
	display: none!important;
}

.colored {
	color: #1468a0;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 300;
}

.short-hr {
    width: 40px;
    border-color: #1779ba;
}

