.show-for-small {
	display: none;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
	.show-for-large {
		display: none;
	}

	.show-for-small {
		display: block;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}